**/.txt
**/.sln
**/.vcxproj
**/.exe
**/.ilk
**/.pdb
**/.obj
**/.o
**/Makefile
**/*.xcworkspace
**/*.xcodeproj
**/*.plist
**/*.DS_Store
**/.DS_Store


console.txt
**/*.xcodeproj/*
**/bin/*
**/bin-int/*
**/Products/*
x64/*
Debug/*
Release/*
ext/freetype/bin
bin/*
.vs/*
