*.txt
*.sln
*.vcxproj
*.vcxproj.*
*.exe
*.ilk
*.pdb
*.o
*.Makefile
*.xcworkspace
*.xcodeproj
*.plist
*.DS_Store
*.gitignore
*.make
*.yaml

console.txt
*.xcodeproj/
bin/
bin-int/
build/
Products/
x64/*
Debug/*
Release/*
ext/freetype/bin
.vs/
*/Makefile
Nebula/ext/SPIRV-Tools/*
Nebula/ext/glslang/*
NebulaStudio/NebulaEditorSettings.yaml